Flask==0.9
Flask-Assets==0.8
Flask-DebugToolbar==0.7.1
Flask-SQLAlchemy==0.16
Flask-Script==0.5.1
Flask-XUACompatible==0.1.0
Jinja2==2.6
SQLAlchemy==0.7.9
WTForms==1.0.2
Werkzeug==0.8.3
alembic==0.4.1
blinker==1.2
cssmin==0.1.4
glob2==0.3
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.16.1
newrelic==1.8.0.13
psycopg2==2.4.6
raven==2.0.11
webassets==0.8
