{% extends "base.html" %}

{% block title %}404 Page not found{% endblock %}

{% block content %}
    <h1>404 Page not found</h1>

    <div class="alert alert-block">
        <strong>Sorry!</strong>
        That page doesn't seem to exist. Here's what you can try to do:
        <ul>
            <li>If you reached this page from another part of our site, please contact us so that we can fix the mistake.</li>
            <li>If you entered the page address in by hand, check that it is correct.</li>
        </ul>
    </div>
{% endblock %}
