{% extends "base.html" %}

{% block content %}
<h1>Gird here pls</h1>
<div class="row">
  <div class="grid-item col-xs-12 col-sm-6 col-lg-4 text-center">
    <img class="img-polaroid" src="http://img.alibaba.com/wsphoto/v0/359414184/reproduction-canvas-art-Sherri-Hot-Modern-oil-painting-oil-painting-canvas.jpg" alt="">
    <p>Some guy and his painting</p>
  </div>
  <div class="grid-item col-xs-12 col-sm-6 col-lg-4 text-center">
    <img class="img-polaroid" src="http://img.alibaba.com/wsphoto/v0/359414184/reproduction-canvas-art-Sherri-Hot-Modern-oil-painting-oil-painting-canvas.jpg" alt="">
    <p>Some guy and his painting</p>
  </div>
  <div class="grid-item col-xs-12 col-sm-6 col-lg-4 text-center">
    <img class="img-polaroid" src="http://img.alibaba.com/wsphoto/v0/359414184/reproduction-canvas-art-Sherri-Hot-Modern-oil-painting-oil-painting-canvas.jpg" alt="">
    <p>Some guy and his painting</p>
  </div>

  <div class="grid-item col-xs-12 col-sm-6 col-lg-4 text-center">
    <img class="img-polaroid" src="http://img.alibaba.com/wsphoto/v0/359414184/reproduction-canvas-art-Sherri-Hot-Modern-oil-painting-oil-painting-canvas.jpg" alt="">
    <p>Some guy and his painting</p>
  </div>
  <div class="grid-item col-xs-12 col-sm-6 col-lg-4 text-center">
    <img class="img-polaroid" src="http://img.alibaba.com/wsphoto/v0/359414184/reproduction-canvas-art-Sherri-Hot-Modern-oil-painting-oil-painting-canvas.jpg" alt="">
    <p>Some guy and his painting</p>
  </div>
  <div class="grid-item col-xs-12 col-sm-6 col-lg-4 text-center">
    <img class="img-polaroid" src="http://img.alibaba.com/wsphoto/v0/359414184/reproduction-canvas-art-Sherri-Hot-Modern-oil-painting-oil-painting-canvas.jpg" alt="">
    <p>Some guy and his painting</p>
  </div>

  <div class="grid-item col-xs-12 col-sm-6 col-lg-4 text-center">
    <img class="img-polaroid" src="http://img.alibaba.com/wsphoto/v0/359414184/reproduction-canvas-art-Sherri-Hot-Modern-oil-painting-oil-painting-canvas.jpg" alt="">
    <p>Some guy and his painting</p>
  </div>
  <div class="grid-item col-xs-12 col-sm-6 col-lg-4 text-center">
    <img class="img-polaroid" src="http://img.alibaba.com/wsphoto/v0/359414184/reproduction-canvas-art-Sherri-Hot-Modern-oil-painting-oil-painting-canvas.jpg" alt="">
    <p>Some guy and his painting</p>
  </div>
  <div class="grid-item col-xs-12 col-sm-6 col-lg-4 text-center">
    <img class="img-polaroid" src="http://img.alibaba.com/wsphoto/v0/359414184/reproduction-canvas-art-Sherri-Hot-Modern-oil-painting-oil-painting-canvas.jpg" alt="">
    <p>Some guy and his painting</p>
  </div>
</div>
{% endblock content %}
