{% extends "base.html" %}

{% block painting %}
<div class="texture-layer">
  <div class="radial-layer">
    <p>
      <img src="{{ url_for('static', filename='images/painting.png') }}" class="img-painting">
    </p>
    <p class="lead">This is what the $1 000 000 painting looks like.<br />Give your contribution for the project and earn $10 000 when the painting is bought!</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span4">
    <h2>What's this?</h2>
    <p class="lead">{{ lipsum(n=2, max=30) }}</p>
  </div>
  <div class="span4">
    <h2>Can I join?</h2>
    <p class="lead">{{ lipsum(n=2, max=30) }}</p>
  </div>
  <div class="span4">
    <h2>When is it sold?</h2>
    <p class="lead">{{ lipsum(n=2, max=30) }}</p>
  </div>
</div>
{% endblock content %}

